* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    cursor: url('/static/MinecraftCursor.png') 16 16, auto;

}
@font-face {
    font-family: 'Minecraftia';
    /* Ensure the path leads to your .otf file */
    src: url('./static/fonts/Minecraft.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: black;
    color: #eeeeee;
    max-width: 768px;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Minecraftia';
}

nav {
    display: flex;
    justify-content: space-between;
}

img {
    height: 4rem;
}

.nav-links {
    line-height: 2rem;
}

h1::after {
    content: '====================';
    display: block;
    /* margin-top: 0.5rem; */
    font-size: 0.8;
    letter-spacing: 0em;
}

